<div class="u-sizeFullHeight u-clearfix">
    <div class="container u-maxWidth1040">
        <header class="hero hero--standalone hero--compact hero--alignLeft u-clearfix u-maxWidth1040">
            <h1 class="hero-title">Schedule</h1>

            <div class="buttonSet" style="margin: 15px 0 0 auto;">
                <button [ngClass]="{'invalid' : !hasPrevStep, 'back' : hasPrevStep}" class="button button--withChrome u-baseColor--buttonNormal">Days</button>
                <button [ngClass]="{'active' : activeStep.isValid, 'invalid' : !activeStep.isValid, 'dead' : !hasNextStep}" class="button button--withChrome u-baseColor--buttonNormal">Times</button>
            </div>
        </header>

        <nav class="u-flex heading heading--borderedTop u-textAlignCenter">
            <!--<span class="u-flex1"></span>-->
            <ul class="heading-tabs">
                <li *ngFor="let day of weekdays" (click)="select.emit(day)" [ngClass]="{'is-active': selectedDay === day}" class="heading-tabsItem u-inlineBlock">
                    <span class="u-flex1">
                        <span
                        [ngClass]="{'u-fontWeightMedium': step.isActive}"
                        class="heading-title u-inlineBlock u-fontWeightNormal">
                <a
                  [ngClass]="{'u-accentColor': step.isCompleted}"
                  class="button button--unstyled is-touched">{{day}}</a>
               </span>
                    </span>
                </li>



                <!-- <li (click)="select.emit('monday')" [ngClass]="{'is-active': selectedDay === 'monday', 'enabled': !step.isDisabled, 'disabled': step.isDisabled, 'u-accentColor--textDarken': isCompleted}" class="heading-tabsItem u-inlineBlock">
                    <span class="u-flex1">
                <span
                  [ngClass]="{'u-fontWeightMedium': step.isActive}"
                  class="heading-title u-inlineBlock u-fontWeightNormal">
                <a
                  [ngClass]="{'u-accentColor': step.isCompleted}"
                  class="button button--unstyled is-touched">Monday</a>
               </span>
                    </span>
                </li>
                <li (click)="select.emit('tuesday')" [ngClass]="{'is-active': step.isActive, 'enabled': !step.isDisabled, 'disabled': step.isDisabled, 'u-accentColor--textDarken': isCompleted}" class="heading-tabsItem u-inlineBlock">
                    <span class="u-flex1">
                <span
                  [ngClass]="{'u-fontWeightMedium': step.isActive}"
                  class="heading-title u-inlineBlock u-fontWeightNormal">
                <a
                  [ngClass]="{'u-accentColor': step.isCompleted}"
                  class="button button--unstyled is-touched">Tuesday</a>
               </span>
                    </span>
                </li>
                <li (click)="select.emit('wednesday')" [ngClass]="{'is-active': step.isActive, 'enabled': !step.isDisabled, 'disabled': step.isDisabled, 'u-accentColor--textDarken': isCompleted}" class="heading-tabsItem u-inlineBlock">
                    <span class="u-flex1">
                <span
                  [ngClass]="{'u-fontWeightMedium': step.isActive}"
                  class="heading-title u-inlineBlock u-fontWeightNormal">
                <a
                  [ngClass]="{'u-accentColor': step.isCompleted}"
                  class="button button--unstyled is-touched">Wednesday</a>
               </span>
                    </span>
                </li>
                <li (click)="select.emit('thursday')" [ngClass]="{'is-active': step.isActive, 'enabled': !step.isDisabled, 'disabled': step.isDisabled, 'u-accentColor--textDarken': isCompleted}" class="heading-tabsItem u-inlineBlock">
                    <span class="u-flex1">
                <span
                  [ngClass]="{'u-fontWeightMedium': step.isActive}"
                  class="heading-title u-inlineBlock u-fontWeightNormal">
                <a
                  [ngClass]="{'u-accentColor': step.isCompleted}"
                  class="button button--unstyled is-touched">Thursday</a>
               </span>
                    </span>
                </li>
                <li (click)="select.emit('friday')" [ngClass]="{'is-active': step.isActive, 'enabled': !step.isDisabled, 'disabled': step.isDisabled, 'u-accentColor--textDarken': isCompleted}" class="heading-tabsItem u-inlineBlock">
                    <span class="u-flex1">
                <span
                  [ngClass]="{'u-fontWeightMedium': step.isActive}"
                  class="heading-title u-inlineBlock u-fontWeightNormal">
                <a
                  [ngClass]="{'u-accentColor': step.isCompleted}"
                  class="button button--unstyled is-touched">Friday</a>
               </span>
                    </span>
                </li>
                <li (click)="select.emit('saturday')" [ngClass]="{'is-active': step.isActive, 'enabled': !step.isDisabled, 'disabled': step.isDisabled, 'u-accentColor--textDarken': isCompleted}" class="heading-tabsItem u-inlineBlock">
                    <span class="u-flex1">
                <span
                  [ngClass]="{'u-fontWeightMedium': step.isActive}"
                  class="heading-title u-inlineBlock u-fontWeightNormal">
                <a
                  [ngClass]="{'u-accentColor': step.isCompleted}"
                  class="button button--unstyled is-touched">Saturday</a>
               </span>
                    </span>
                </li>
                <li (click)="select.emit('sunday')" [ngClass]="{'is-active': step.isActive, 'enabled': !step.isDisabled, 'disabled': step.isDisabled, 'u-accentColor--textDarken': isCompleted}" class="heading-tabsItem u-inlineBlock">
                    <span class="u-flex1">
                <span
                  [ngClass]="{'u-fontWeightMedium': step.isActive}"
                  class="heading-title u-inlineBlock u-fontWeightNormal">
                <a
                  [ngClass]="{'u-accentColor': step.isCompleted}"
                  class="button button--unstyled is-touched">Sunday</a>
               </span>
                    </span>
                </li> -->

            </ul>
        </nav>
        <ng-content></ng-content>
    </div>

    <!-- <hours></hours> -->
</div>